# ===========================================
# CoinFlip dApp — Production Environment
# ===========================================

# ---- Chain / RPC ----
AXIOME_RPC_URL=http://49.13.3.227:26657
AXIOME_REST_URL=http://49.13.3.227:1317
AXIOME_CHAIN_ID=axiome-1

# ---- Contract ----
COINFLIP_CONTRACT_ADDR=axm1mr5l8e49kav3mw026llr8qacuqfq0yeye8zuqcwr2866xkeufptssftk9y
LAUNCH_CW20_ADDR=axm1cv5er0wsla3u33w6rkn7ckxpn88huqh9aw0xpu0pagksege7v7nsn8qdhs
PRESALE_CONTRACT_ADDR=axm10g7fklv2rgyrs863qcqujh5lnmamceqhxswzhnwhveqhn295qers0020tx


NEXT_PUBLIC_COINFLIP_NATIVE_CONTRACT=axm19jftnjs9q2g53f0rzzanf0z5ga746j6dzuu3r6edy5x7lq5rd0sse9ytz4
# ---- Relayer ----
RELAYER_MNEMONIC=three twin estate pen crime police woman embark stamp debate rocket aisle remove damp frost coast engage pelican duty oval act goddess govern upgrade
RELAYER_ADDRESS=axm1p9g8yads5u6aer0hxze7gze36jklljrvxlnczz

# ---- Treasury (separate from relayer — requires authz grant to relayer) ----
TREASURY_ADDRESS=axm1g2akr2kxul2kpummprad7luhue6hpd9u48jaud

# ---- Admin ----
ADMIN_ADDRESSES=axm1p9g8yads5u6aer0hxze7gze36jklljrvxlnczz

# ---- Database (Neon PostgreSQL) ----
DATABASE_URL=postgresql://neondb_owner:npg_n8uK1sXBTmYS@ep-odd-surf-aia8mumo-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_n8uK1sXBTmYS@ep-odd-surf-aia8mumo.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require

# ---- Redis ----
REDIS_URL=redis://localhost:6379

# ---- API Server ----
API_PORT=3001
API_HOST=0.0.0.0
CORS_ORIGIN=https://coinflip.axiome-launch.com
NODE_ENV=production

# ---- Session ----
SESSION_SECRET=PDnPKEm1HKF6O_cwxtv5AlkdTN6X4my35JozPJYt2zpnlZoAFua_IAFVMqUn6cOT

# ---- Background Services ----
ENABLE_INDEXER=true
ENABLE_BACKGROUND_SWEEP=true

# ---- Frontend (Next.js env vars) ----
NEXT_PUBLIC_API_URL=https://coinflipapi-production.up.railway.app
NEXT_PUBLIC_WS_URL=wss://coinflipapi-production.up.railway.app/ws
NEXT_PUBLIC_EXPLORER_URL=https://axiomechain.org
NEXT_PUBLIC_CHAIN_ID=axiome-1
NEXT_PUBLIC_CHAIN_RPC_URL=http://49.13.3.227:26657
NEXT_PUBLIC_COINFLIP_CONTRACT=axm1mr5l8e49kav3mw026llr8qacuqfq0yeye8zuqcwr2866xkeufptssftk9y
NEXT_PUBLIC_LAUNCH_CW20=axm1zvjnc08uy0zz43m0nlh9f5aetpa3amn6a034yqvmsgvzshk9clds375xx9
NEXT_PUBLIC_COIN_CW20=axm1cv5er0wsla3u33w6rkn7ckxpn88huqh9aw0xpu0pagksege7v7nsn8qdhs
NEXT_PUBLIC_APP_URL=https://coinflip.axiome-launch.com
NEXT_PUBLIC_PRESALE_CONTRACT=axm10g7fklv2rgyrs863qcqujh5lnmamceqhxswzhnwhveqhn295qers0020tx
NEXT_PUBLIC_ADMIN_ADDRESS=axm1p9g8yads5u6aer0hxze7gze36jklljrvxlnczz

# ---- Telegram ----
TELEGRAM_BOT_TOKEN=8351520553:AAHXuHKayH0yocLmkw4ahxsAhvl1jW2K5vk
NEXT_PUBLIC_TELEGRAM_BOT_NAME=axiome_launch_suite_bot
NEXT_PUBLIC_TELEGRAM_BOT_ID=8351520553

# ---- Neon metadata ----
NEON_PROJECT_ID=sparkling-sea-92821900
PGHOST=ep-odd-surf-aia8mumo-pooler.c-4.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-odd-surf-aia8mumo.c-4.us-east-1.aws.neon.tech
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=npg_n8uK1sXBTmYS

